@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');


/* @layer base {
  html {
    font-family: "Proxima Nova", system-ui, sans-serif;
  }
} */

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

:root {
  --swiper-theme-color: #de3c3a;
  scroll-behavior: smooth;
}

.swiper {
  width: 100%;
  color: #010d1d;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: min(500px, 100%) !important;
}

.swiper-slide img {
  display: block;
  width: 100%;
}
